<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
      <a class="navbar-brand" href="/">
          <img alt="Brand" src="/img/sibi.png" style="height:25px;">
        </a>
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
     
    </ul>
  </div>
</nav>
