<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">

</div>
<div class="container">
 <h2>Add Person to Database</h2>
      <%if (insert==1){%>
        <div class="alert alert-success" role="alert">The Person was added to the Database.</div>
        <a href="/" class="btn btn-primary">Add New User</a>
        <% } else{ %>
   <form action="/" method="post" id="formAdd">   
  <table class="table">
    <thead>
      <tr>
        <th>
          Label
        </th>
        <th>
            Value
          </th>
          
      </tr>
    </thead>
    <tbody>
      <% for (var key in results[0]){ 
        if(key=="id") continue; %>
       
         <tr>
            <td>
              <%= key.charAt(0).toUpperCase()+key.slice(1); %>
            </td>
            <td>
              <% if(key=="gender"){ %>
                <select name="Gender"><option value="">--Select Gender--</option><option value="female">Female</option><option value="male">Male</option></select>
                <% } 
                else if (key=="Password"){ %>
                  <input type="password" name="<%= key %>" />
                <% }
                else { %>
              <input type="text" name="<%= key %>" />
              <% } %>
            </td>
            
         </tr>
      <% } %>
      <tr>
          <td>
            
          </td>
          <td>
            <input type="submit" value="Add Person" id="formsubmit" class="btn btn-success" />
          </td>
          
       </tr>
        </tbody>
      </table>
    </form>
    <% } %>
</div>



</body>
<script>
  $(function(){
    $("#formsubmit").click(function(){
      var error = false;
      var msg = "";
      if($("input[name='givenname']").val()=="")
      {
        error = true;
        msg += "Please provide a Given Name\n";
      }
      if($("input[name='surname']").val()=="")
      {
        error = true;
        msg += "Please provide a Sur Name\n";
      }
      if(error)
      {
        alert(msg);
        return false;
      }
      $("#formAdd").submit();
    });
    
  });
  </script>
</html>
